@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-Bold.woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}